@import './variable';
@import './projects.scss';

@font-face{
    font-family: "cairo-ar";
    src: url(../fonts/Cairo-Regular.ttf);
}

body{
    font-family: "cairo-ar" , Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden;
}
.top-menu{
    .navbar{
        background-color: #ffffff;
        font-weight: bold;
        padding: 0 100px !important;
        .navbar-nav {
            li.active > a{
                color: $main-color !important;
                border-bottom: 1px solid $main-color;
            }
            li > a{
                transition-property: background-color;
                transition-duration: 0.5s;
                &:hover{
                    color: $main-color !important;
                    background-color: $custom-color;
                    border-bottom: 1px solid $main-color;
                }
            }
        }
    }
}

.carousel-top{
    .carousel{
        .carousel-indicators{
            li{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 20px 5px 0 0;
                background-color: $custom-color;
                &.active{
                    background-color: $main-color;
                }
            }
        }
        .carousel-item{
            .overlay{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(65,155,155,0.5);
                display: flex !important;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
                h1{
                    font-size: bold;
                    color: #ffffff;
                    margin-bottom: 50px;
                }
                h4{
                    color: $custom-color;
                    width: 60%;
                }
            }

            img{
                height: 450px;
            }
        }
    }
}

.custom-btn{
    padding: 10px 20px;
    border: 1px solid $main-color;
    font-weight: bold;
    color: $main-color;
    &:hover, &:focus{
        background-color: $main-color;
        color: $custom-color;
        border: 1px solid $custom-color;
    }
}

.about-us{
    .custom-parg{
        padding: 20px;
        line-height: 2em;
    }
}
.custom-btn-main{
    padding: 20px;
    background-color: $main-color;
    color: white;
    width: 250px;
    font-weight: bold;
    &:hover,&:active{
        border-color: darken( $main-color, 5);
        background-color: darken( $main-color, 5);
        color: #000;
    }
}
.company-name{
    color: $main-color;
}

.latest-projects{
    background-color: #ffffcc;
    .carousel{
        width: 80%;
        .carousel-item{
            .thumbnail1{
                position: relative;
                margin-top: 20px;
                margin-bottom: 20px;
                .caption1{
                    background-color: rgba(65,155,155,0.5);
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: 100%;
                    height: 100%;
                    text-align: center;
                    padding: 2%;
                    display: none;
                }
                .project-category{
                    position: absolute;
                    top: 5%;
                    right: 0;
                    padding: 10px 20px;
                    box-shadow: 0 5px 20px 0 #000;
                    font-weight: bold;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    background-color: rgba(240,240,240,0.75);
                }
            }
        }
        a.carousel-control-prev{
            position: absolute;
            right: -5%;
            width: 0;
            color: #252222;
        }
        a.carousel-control-next{
            position: absolute;
            left: -5%;
            width: 0;
            color: #252222;
        }
    }
}
.project-details{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.recommandations{
    .custom-img{
        border-radius: 10px;
        margin: 20px;
    }
    .custom-parg{
        line-height: 2em;
    }
    a.carousel-control-prev{
        color: #252222;
        position: absolute;
        right: 7%;
        width: 0;
    }
    a.carousel-control-next{
        color: #252222;
        position: absolute;
        left: 7%;
        width: 0;
    }
}
.clients{
    background-color: #419898;
}

.latest-blogs{
    .card-img-top{
        height: 220px;
    }
    .card-body{
        width: 90%;
        border: 1px solid #cccccc;
        border-radius: 5px;
        background-color: white;
        position: relative;
        top: -20px;
        right: 5%;
        .card-title{
            font-size: 18px;
            font-weight: bold;
        }
        .card-text{
            font-size: 14px;
            opacity: 0.7;
        }
    }
}
footer{
    background-color: #393939;
    h2{
        color: $custom-color;
        font-size: 150%;
    }
    .line1{
        width: 5%;
        height: 2px;
        background-color: $custom-color;
    }
    #footer-nav-links{
       a{
        text-decoration: none;
        color: #bbbbbb;
        margin-left: 15px;
        &:hover, &:focus{
            color: $custom-color;
        }
       }
    }
    .line2{
        width: 60%;
        height: 2px;
        background-color: $custom-color;
        margin: 20px auto;
    }
    .form{
        input{
            background-color: #202020;
            border-radius: 1px;
            border: 0;
            text-align: right;
            &:focus{
                border-color: $custom-color;
                background-color: #202020;
                box-shadow: 0 0 2px 0 $custom-color;
                color: $custom-color;
            }
        }
        .btn-light{
            &:hover,&:focus{
                background-color: #363636 !important;
                color: $custom-color;
                border: 1px solid $custom-color ;
                transition-property: color, background-color, border;
                transition-duration: 0.3s;
            }
        }
    }
    .copyright{
        color: #969696;
        font-weight: bold;
        font-size: 90%;
    }
    .copyright-link{
        text-decoration: none;
        &:hover, &:focus{
            color: $custom-color;
        }
    }
}
@media(max-width:991px){
    .top-menu{
        .navbar{
            padding: 0 20px !important;
            .navbar-nav{
                li > a{
                    border-bottom: 0 !important;
                    padding-right: 5px;
                }
            }
        }
    }
}
@media(max-width:767px){
    .carousel-top{
        .carousel{
            .carousel-caption{
                h1{
                    font-size: 30px;
                }
                h4{
                    font-size: 20px;
                }
            }
        }
    }
    footer{
        #footer-nav-links{
            a{
             font-size: 14px;
            }
         }
    }
}